# Diretórios de build
/target/

# Arquivos de log
*.log

# Arquivos temporários de sistema operacional
.DS_Store
Thumbs.db

# Configurações específicas de IDEs (ex: Eclipse, IntelliJ)
*.iml
.idea/
*.classpath
*.project
.settings/

# Arquivos de segurança/sensíveis
application-dev.properties
application.properties
docker-compose.yaml
application.yml
.env
